.product-container{
    margin-top: 100px;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.products-sale{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px;
    padding-top: 0;
    

}
.product-container h1{
    color: #880725;
    margin: 0;
    margin-bottom: 20px;
    font-weight: 900;
}
.products-sale h1{
    text-align: center;
}
.product-card{
    background-color: white;
    border-radius: 10px;
    width: 300px;
    padding: 10px;
    margin: 20px;
    box-shadow: 1px 1px 5px lightgray;
    margin-bottom: 30px;


}
.image-container{
    width: 270px ;
    height: 270px;
    object-fit: cover;
}
.image-container img{
    width: 260px;
    height: 260px;
}

.upper, .condition{
   display: flex;
   justify-content: space-between;
   align-items: center;
   align-items: center;
   font-size: 1.4em;
}
.upper p{
    margin-bottom: 10px;
}
.condition{
    color: grey;
}

.icon{
    color: grey;
    cursor: pointer;
    transition: 1s all ease;
    margin-right: 10px;
}
.icon:hover{
    color: black;
  
}