.dashboard{
    color: #880725;
}

.dashboard-wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.sidenav{
    background: #880725;
    color: white;
    flex: 1;
    display: flex;
    width: 350px;
    height: 100vh;
    justify-content: center;
    background: linear-gradient(rgba(70, 0, 26, 0.848), rgba(0, 0, 0, 0.905)),url("../../../public/img/westminster.jpg");
}
.sidenav-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-image{
    border: 5px solid white;
    box-shadow: 1px 1px 1px gray;
    border-radius: 50%;
    background-color: lightgray;
    font-size: 4em;
    padding: 20px;
    
}
.sidenav a{
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 1.5em;
}
.dashboard-body{
    flex: 3;
    padding: 30px;
    display: flex;
    padding-top: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;

}

.signout-container{
    display: flex;
    justify-content: baseline;
}
.dashboard-main-body a{
    width: 50%;
    background-color: #880725;
    color: white;
    font-size: 1.2em;
    border: none;
    border-radius: 10px;
    padding: 15px 20px;
    transition: all 500ms ease;
    cursor: pointer;
    width: fit-content;
}

.dashboard-wrapper a:hover{
    background-color: #880725a5;
}
.dashboard-wrapper .links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dashboard-main-body{
    
    
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.links button{
    border: none;
    padding: 20px;
    color: #880725;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    transition: 1s all ease;
}

.links button:hover{
    background-color: #880725;
    border: 1px solid white;
    color: white;

}
.mobile{
    display: none;
}
@media screen and (max-width: 600px){
    .sidenav{
        display: none;
    }
    .mobile{
        display: flex;
        flex-direction: column;
        background-color: #880725;
        color: white;
        margin-bottom: 50px;
        height: auto;
    }
    .dashboard-body{
        padding: 0;
    }
    .mobile-nav a{
        padding: 0;
        margin: 15px;
    }
    .upper-mobile{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        padding: 20px;
    }
    .upper-mobile h1{
        margin: 0;
    }
    .upper-mobile h1 a{
        padding: 0;
        margin: 0;
    }
    .mobile-nav button{
        margin-top: 20px;
    }
    .mobile-nav .links{
        align-items: baseline;
    }

}
