

.Footer{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    padding: 30px;
    color: #727272;

}

.footer-wrapper{
    display: flex;
}
.footer-item{
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid #c5c5c5 ;
}